<div id="user-navigation">
@*    @if (Request.IsAuthenticated)
    {
        <ul class="wat-cf">
            <li>@Html.ActionLink("发布管理", "AdminIndex", "Admin", new { Area = "" }, null)</li>
            <li>@Html.ActionLink("系统管理", "Index", "rolehome", new { Area = "AuthorityMgt" }, null)</li>
            @*<li>@Html.ActionLink("页面设置", "PortalPageSet", "Account", new { Area = "" },null)</li>
            <li>@Html.ActionLink("退出系统", "LogOff", "Account", new { Area = "" },null)</li>
        </ul>
    }*@
</div>
