@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutRole.cshtml";
}
<table>
<tr>
<td style="width:800px">
<h2>第三方应用审核：</h2><a href = "/WidgetAdmin/ApplicationManage/AppExamine/">进入审核</a>

<br /><br /><br /><br />

<h2>第三方应用申请：</h2><a href = "/WidgetAdmin/ApplicationManage/ApplyForApp/">进入申请</a>

<br /><br /><br /><br />

<h2>用户的第三方应：</h2><a href = "/WidgetAdmin/ApplicationManage/AppOfUser/">用户进入</a>

<br /><br /><br /><br />

<h2>数据元：</h2><a href = "/WidgetAdmin/DataSource/Index/">DataSource</a>

<br /><br /><br /><br />

<h2>控件：</h2><a href = "/WidgetAdmin/Units/Index/">Units</a>

<br /><br /><br /><br />

<h2>控件展示方式：</h2><a href = "/WidgetAdmin/UnitsShowStyle/Index/">UnitsShowStyle</a>

<br /><br /><br /><br />

<h2>ApplicationWithPage：</h2><a href = "/WidgetAdmin/ApplicationPage/AppPageEdit/">ApplicationWithPage</a>

<br /><br /><br /><br />

<h2>ApplicationPage：</h2><a href = "/WidgetAdmin/ApplicationPage/Page/">ApplicationPage</a>

<br /><br /><br /><br />

</td>

<td>
<h2><b>发布内容信息入口：</b></h2>
<br /><br />
<h2>用户内容添加管理入口：</h2><a href ="/ContentsEditor/ContentsForUsers/Index/" >欢 迎 进 入</a>

<br /><br /><br /><br />

<h2>审核员内容管理入口：</h2><a href = "/ContentsEditor/Contents/Index/">欢 迎 进 入</a>

<br /><br /><br /><br />
</td>
</tr>
</table>

