@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutRole.cshtml";
}

<h2>Index</h2>
<h1>个人事务列表：</h1><a href = "/AffairsAdmin/AffairsForOneself/AffairsRefer/">欢迎进入</a>

<br /><br /><br /><br />

<h1>办事列表：</h1><a href = "/AffairsAdmin/AffairsGovern/AffairsForApply/">欢迎进入</a>

<br /><br /><br /><br />

<h1>事务等级列表：</h1><a href = "/AffairsAdmin/AffairsGrade/ShowGrade/">欢迎进入</a>

<br /><br /><br /><br />

<h1>事务资料上传：</h1><a href = "/AffairsAdmin/AffairsData/ShowAffairs/">欢迎进入</a>

<br /><br /><br /><br />

<h1>事务搜索：</h1><a href = "/AffairsAdmin/SearchAffaris/Index/">欢迎进入</a>

