<div id="box">
    <div class="block" id="block-login">
        <h2>
            第三方代理认证</h2>
        <div class="content login" style="margin:30px; padding-bottom:40px">
            正在为您接入系统：@ViewBag.ThirdAppName;请稍候……
        </div>
    </div>
</div>
