<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
    <add name="COMPUBConnectionString" connectionString="Data Source=210.42.159.78;Initial Catalog=COMPUB.MDF;User ID=developer;Password=de@2013"
      providerName="System.Data.SqlClient" />
    <add name="WHSMPERSAUTHConnectionString" connectionString="Data Source=210.42.159.78;Initial Catalog=PersMSAuth.MDF;User ID=developer;Password=de@2013"
      providerName="System.Data.SqlClient" />
    <add name="AffairsMSAuthConnectionString" connectionString="Data Source=210.42.159.78;Initial Catalog=AffairsMSAuth.MDF;User ID=developer;Password=de@2013"
      providerName="System.Data.SqlClient" />
    
    <!--<add name="COMPUBConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\COMPUB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
  providerName="System.Data.SqlClient" />
    <add name="WHSMPERSAUTHConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\PersMSAuth.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
 providerName="System.Data.SqlClient" />
    <add name="AffairsMSAuthConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\AffairsMSAuth.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
 providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="LocalCode" value="98D4A31D9BC700F0B11F2679E9316814BA3DED4CF7C77EBA" />
    <!--本地使用，发布后为用户安装时删除-->
    <add key="AuthCode" value="5E1F5D0CE1957DEEE34739C8363C8FDF4D72D355F73B118D1" />
    <!--授权码-->
    <add key="RegCode" value="C97A85FCD359CB6D2F904AE9EDE7077F6CE20CBE40BABBA3" />
    <!--注册码-->

    <add key="HasMobileSpecificViews" value="true"/>
    <add key="MobileViewsDirectoryName" value="M"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <!--<httpModules>
      <add name="OnlineList" type="CoreLibrary.Helper.UserOnlineModule"/>
    </httpModules>-->
    
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
        <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers></handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="OnlineList" type="CoreLibrary.Helper.UserOnlineModule, CoreLibrary" preCondition="integratedMode" />
    </modules>
    <directoryBrowse enabled="false" />
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/x-msdownload" />
    </staticContent>
  </system.webServer>

  <!--<system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>-->

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
