@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
}

<h2>系统管理</h2>
<div>
<div id="bt_box">
 <a id="sys_bt1" href=" /AuthorityMgt/User/GetAllUser" title="用户管理"></a>
      
 

 <a id="sys_bt2" href="/AuthorityMgt/Role/GetRole" title="角色管理"></a>
 

 <a id="sys_bt3" href="/AuthorityMgt/ModuleTree/ModuleManage" title="模块管理"></a>
   
</div>
@*<div id="sys_infobox">
<div id="sys_info_m">
<div id="sys_info1">
<div class="sys_infotext">
<h2 style="">用户管理使用说明</h2>
内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明</div>
</div>
<div id="sys_info2">
<div class="sys_infotext">
<h2>角色管理使用说明</h2>
内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明</div>
</div>
<div id="sys_info3">
<div class="sys_infotext">
<h2>模块管理使用说明</h2>
内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明</div>
</div>
</div>
</div>*@
</div>
   
   
   

