<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WiGetMSModelsLibrary.Properties.Settings.COMPUB_2_ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\VS2010\Myproject\Project\汇总\WiGetMS\WiGetMS\WiGetMS\App_Data\COMPUB(2).mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="WiGetMSModelsLibrary.Properties.Settings.COMPUBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\综合发布平台\ComPublishWeb\ComPublishWeb\ComPublishWeb\App_Data\COMPUB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="WiGetMSModelsLibrary.Properties.Settings.COMPUBConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\VS2010程序\ComPublishWeb_主平台\ComPublishWeb_主平台\ComPublishWeb\App_Data\COMPUB.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="WiGetMSModelsLibrary.Properties.Settings.COMPUBConnectionString2"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\VS2010\Myproject\Project\卢哥\ComPublishWeb_主平台_8_5\ComPublishWeb\App_Data\COMPUB.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="WiGetMSModelsLibrary.Properties.Settings.COMPUBConnectionString3"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\VS2010程序\ComPublishWeb_View\ComPublishWeb\App_Data\COMPUB.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="WiGetMSModelsLibrary.Properties.Settings.COMPUBConnectionString4"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\DELL\Desktop\ComPublishWeb_Widget\ComPublishWeb\App_Data\COMPUB.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="WiGetMSModelsLibrary.Properties.Settings.COMPUB_MDFConnectionString"
            connectionString="Data Source=210.42.159.78;Initial Catalog=COMPUB.MDF;Persist Security Info=True;User ID=developer"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>