<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WidgetDateLibrary.Properties.Settings.COMPUBConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\综合发布平台\ComPublishWeb\ComPublishWeb\ComPublishWeb\App_Data\COMPUB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="WidgetDateLibrary.Properties.Settings.COMPUBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\综合发布平台\ComPublishWeb_Widget\ComPublishWeb_Widget\ComPublishWeb\App_Data\COMPUB.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="WidgetDateLibrary.Properties.Settings.COMPUBConnectionString2"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\综合发布平台\ComPublishWeb\ComPublishWeb_Widget\ComPublishWeb\App_Data\COMPUB.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="WidgetDateLibrary.Properties.Settings.COMPUB_MDFConnectionString"
            connectionString="Data Source=210.42.159.78;Initial Catalog=COMPUB.MDF;Persist Security Info=True;User ID=developer;Password=de@2013"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>